<div class="row">
  <div class="col-12">
    <h2>Edit: <%=@work_task.title %></h2>
  </div>
  <div class="col-12" data-controller="project-form">
    <%= render partial: "form", locals: { parent_task: @parent_task, project: @work_task.project, work_task: @work_task } %>
  </div>
</div>
