<div class="row">
  <div class="col-12">
    <h2>My Projects</h2>
  </div>
  <div class="col-12">
    <%= render partial: "projects/project_table", locals: { projects: current_user.projects } %>
  </div>
</div>