<div class="row">
  <div class="col-12">
    <h2>My Tasks</h2>
  </div>
  <div class="col-12">
    <%=render partial: "work_tasks/task_table", locals: { work_tasks: @work_tasks, show_project: true } %>
  </div>
</div>